@{
    ViewBag.Title = "InstrumentUsageRecordLists";
 Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<script type="text/javascript">
    $(function () {
        var origid = parseInt(getUrlQueryString('ItemID')) - 3;
        $("#gvPhaseAnalysis").wyGrid({ allowAjax: true, urlPath: "../InstrumentManagementAPI/GetInstrumentUsageDataSet", pageSize: 5, funcAjaxCallBack: AjaxCallBack, entityName: origid });
        $("#btnDelete").click(function () {
            if (chkclick()) {
                $.ajax({
                    type: 'post',
                    url: '../InstrumentManagementAPI/DeleteUsageItems', //路径为添加方法
                    data: "myIDs=" + $('#hf').val(), //参数的个数和名字要和方法的名字保持一致
                    success: function (json) //返回的是Json类型的
                    {
                        if (json.Result == true) {
                            parent.parent.parent.layer.msg('删除成功', 2, 1);
                            window.location.href = window.location.href;
                        }
                    }
                });
            }
        });
          
    });
    function chkclick() {
        var rst = true;
        var selectedIDs = [];
        $("#gvPhaseAnalysis input[name='selRecord']:checked").each(function () {
            var value = $(this).parent().next().text();
            selectedIDs.push(value);
        });
        var myIds = selectedIDs.toString();
        if (myIds == "") {
            rst = false;
            alert("请选择要删除的项！");
        } else {
            if (confirm("确定要删除选中的记录吗?")) {
                $("#hf").val(myIds);
            } else {
                rst = false;
            }
        }
        return rst;
    }
    function AjaxCallBack(data) {
        var trs = $("#product_template").render(data);
        $("#gvPhaseAnalysis tr:not(:first)").remove();
        $("#gvPhaseAnalysis tr:first").after(trs);
    }
</script>
<script id="product_template" type="text/x-jsrender">
    <tr>
        <td class="GridNumeric ID_Col">{{>MyID}}</td>
        <td><a onclick="openDialogWindow('../InstrumentManagement/AddUsagePage?ItemID={{>MyID}}', '', '', 'Parent')" href="javascript:;">{{>ProjectName}} </a></td>
        <td>{{>BeginTime}} </td>
        <td>{{>EndTime}}</td>
        <td>{{>Operater}}</td>
        <td></td>

    </tr>
</script>
<div id="mainTable">
    <div id="Div2">
        <input type="hidden" id="hf" />
        <span>
            @*       <input ID="btnCreate" type="button" value="新建" class="btn-blue" OnClick="openDialogWindow('../InstrumentManagement/AddAppointmentPage?ItemID='+getUrlQueryString('ItemID'), '', '')" />*@
            <span style="margin-left: 15px;">
                <a href="javascript:__doPostBack('btnReferenceCreate','')" class="ActionA RecordNew" id="btnReferenceCreate" onclick="openDialogWindow('../InstrumentManagement/AddUsagePage?ItemID=' + getUrlQueryString('ItemID') + '&Name=' + getUrlQueryString('Name') + '&Code=' + getUrlQueryString('Code'), '', '', 'Parent')">新建</a>
                </span>
                <span style="margin-left: 15px;">
                    <a href="javascript:__doPostBack('btnReferenceDelete','')" class="ActionA RecordMultDel" id="btnDelete" onclick="if(!chkclick(this))return false;">删除</a>
                </span>
            </span>
    </div>
    <table cellspacing="0" style="width:100%;border-collapse:collapse;" id="gvPhaseAnalysis">
        <tbody>
            <tr>
                <th style="width:80px;" scope="col">序号</th>
                <th style="width:200px;" scope="col">分析项目</th>
                <th style="width:200px;" scope="col">开始时间</th>
                <th style="width:200px;" scope="col">结束时间</th>
                <th style="width:200px;" scope="col">使用人</th>
                <th style="width:1200px;" scope="col"></th>
            </tr>
        </tbody>
    </table>
</div>
