@{
    ViewBag.Title = "仪器管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {

        $("#gvPhaseAnalysis").wyGrid({ allowAjax: true, urlPath: "../PortalAPI/GetInstrumentDataSet", pageSize: 5, funcAjaxCallBack: AjaxCallBack, entityName: 2 });
        $("#btnDelete").click(function () {
            if (chkclick()) {
                $.ajax({
                    type: 'post',
                    url: '../InstrumentManagementAPI/DeleteItems', //路径为添加方法
                    data: "myIDs=" + $('#hf').val(), //参数的个数和名字要和方法的名字保持一致
                    success: function (json) //返回的是Json类型的
                    {
                        if (json.Result == true) {
                            parent.parent.parent.layer.msg('删除成功', 2, 1);
                            window.location.href = window.location.href;
                        }
                    }
                });
            }
        });
    });
    function AjaxCallBack(data) {
        var trs = $("#product_template").render(data);
        $("#gvPhaseAnalysis tr:not(:first)").remove();
        $("#gvPhaseAnalysis tr:first").after(trs);
    }
    function chkclick() {
        var rst = true;
        var selectedIDs = [];
        $("#gvPhaseAnalysis input[name='selRecord']:checked").each(function () {
            var value = $(this).parent().next().text();
            selectedIDs.push(value);
        });
        var myIds = selectedIDs.toString();
        if (myIds == "") {
            rst = false;
            alert("请选择要删除的项！");
        } else {
            if (confirm("确定要删除选中的记录吗?")) {
                $("#hf").val(myIds);
            } else {
                rst = false;
            }
        }
        return rst;
    }
</script>
<script id="product_template" type="text/x-jsrender">
    <tr>
        <td class="GridNumeric ID_Col">{{>MyID}}</td>
        <td><a onclick="openDialogWindow('../InstrumentManagement/Index?ItemID={{>OrigID}}', '', '')" href="javascript:;">{{>MyName}} </a></td>
        <td>{{>MyCode}} </td>
        <td>{{>Remark}} </td>
        <td></td>

    </tr>
</script>
<div id="mainTable">
    <div id="Div2" style="margin: 10px;">
        <input type="hidden" id="hf" />
        <span>
            <input ID="btnCreate" type="button" runat="server" value="新建" class="btn-blue" OnClick="openDialogWindow('../InstrumentManagement/Index?ItemID=0', '', '')" />
            <span>
                <input type="button" ID="btnDelete" runat="server" value="删除" class="btn-blue" />
            </span>
        </span>
    </div>
    <table cellspacing="0" style="width:100%;border-collapse:collapse;" id="gvPhaseAnalysis">
        <tbody>
            <tr>
                <th style="width:80px;" scope="col">序号</th>
                <th style="width:200px;" scope="col">仪器名称</th>
                <th style="width:200px;" scope="col">仪器编号</th>
                <th style="width:200px;" scope="col">备注</th>
                <th style="width:1200px;" scope="col"></th>
            </tr>
        </tbody>
    </table>
</div>
