@{
    ViewBag.Title = "工作周报";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<h2>工作周报查询</h2>
<script>
    $(function () {
        $("#addParticipants").click(function () {
            openDialogWindow("../Selector/UserSelector?ReturnCtrl=hfValue&CallBack=ParticipantResponsorSetter()&MultiSelect=true&Type=1", "950", "600", "false");
        });
    });
    function ParticipantResponsorSetter() {
        var strRetValue = $('#hfValue').val();
        var parNames = "";
        //alert(strRetValue);
        var strUserArr = strRetValue.split('#');
        for (var i = 0; i < strUserArr.length; i++) {
            var words = strUserArr[i].split(';');
            if (words != null && words.length == 3) {
                parNames = parNames + "#" + words[0] + "|" + words[1] + "|" + words[2];
                $('#divParticipants').append('<span  onmouseover="show_delete(this)" onmouseout="hide_delete(this)" >' + words[2] + '<a href="javascript:void(0)" class="selecter_delete" style="display: none;"  onclick="delete_click(this)" attr_id=' + words[0] + ' attr_type=' + words[1] + ' attr_name=' + words[2] + '></a></span>&nbsp;');
            }
        }
        $('#txtParticipants').val(parNames);
        window.parent.$('.xubox_close')[1].click();
    }
    function show_delete(e)
    { $(e).find("a").show(); }
    function hide_delete(e)
    { $(e).find("a").hide(); }
    function delete_click(e) {
        var pDiv = $(e).parent();
        $(pDiv).remove();
        var strUsrs = "";
        $('.selecter_delete').each(function (idx, obj) {
            strUsrs = strUsrs + "#" + $(obj).attr('attr_id') + "|" + $(obj).attr('attr_type') + "|" + $(obj).attr('attr_name');
        });
        $("#txtParticipants").val(strUsrs);
    }
    function btnSearch_onclick() {
        var data = $("#txtParticipants").val();

        data +=";"+ $("#WeekYearStart").val() + ";" + $("#WeekNumberStart").val() + ";" + $("#WeekYearEnd").val() + ";" + $("#WeekNumberEnd").val();
        if(data!=""){
            $("#gvPhaseAnalysis").wyGrid({
                allowAjax: true, urlPath: "../Reporter/GetSearchDataSet", pageSize: 20, funcAjaxCallBack: AjaxCallBack, entityName: data,allowSelected:false
            });
        }

    }
    function AjaxCallBack(data) {
        var trs = $("#product_template").render(data);
        $("#gvPhaseAnalysis tr:not(:first)").remove();
        $("#gvPhaseAnalysis tr:first").after(trs);
    }

</script>
<script id="product_template" type="text/x-jsrender">
    <tr>
        <td class="GridNumeric ID_Col">{{>MyID}}</td>
        <td><a onclick="openDialogWindow('../Reporter/Index?MyID={{>MyID}}', '', '','')" href="javascript:;">{{>MyName}} </a></td>
        <td>{{>WeekYear}}第{{>WeekNum}}周</td>
        <td>{{>ModifiedBy}}</td>
        <td>{{>LastModified}}</td>

        <td></td>

    </tr>
</script>
<form id="MainFrm">

    <input type="hidden" name="hfValue" id="hfValue" />
    <div id="tabs" style="margin: auto;">
        <div id="page1">
            <div class="table-wrapper">
                <table id="page1_block1" class="App_TableBlock" align="center" border="0" cellspacing="0"
                       width="100%">
                    <tbody>
                        <tr style="display: none;">
                            <td colspan="4" class="TableHeader">
                                基本信息
                            </td>
                        </tr>
                        <tr id="Tr4">
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="" class="TableContent  Red">周报范围</span>
                            </td>
                            <td class="TableData Width40">
                                <input class="InputField Width10" id="WeekYearStart" name="sYear"/>年第<input class="InputField Width10" id="WeekNumberStart" name="sNum" />周
                                到<input class="InputField Width10" id="WeekYearEnd" name="eYear"/>年第<input class="InputField Width10" id="WeekNumberEnd" name="eNum"/>周
                                @*                        <input id="txtPrincipalID" class="display_none" type="text" value="@Model.PrincipalID" name="PrincipalID" />
                                    <input id="txtPrincipal" class="InputField Width80 refField" type="text" name="Principal" value="@Model.Principal" readonly="readonly" />
                                    <a href="javascript:void(0)" id="a2" class="ref-delete-handle inline-block"></a>*@
                            </td>
                            <td class="TableLabel" nowrap="" width="150">
                                <span title="">周报查看人</span>
                            </td>
                            <td class="TableData Width40">
                                <input name="Participants" id="txtParticipants" class="InputField Width80 refField display_none" />
                                <div class="Width80" style="display: inline-block;" id="divParticipants" class="InputField Width80 refField">
                                </div><a href="javascript:void(0)" class="selecter_add" id="addParticipants"></a>
                            </td>
                        </tr>
                        <tr id="Tr5">
                            <td>
                                <input id="btnSearch" class="btn-blue" type="button" onclick="btnSearch_onclick()" value="搜索" />
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="mainTable">
    <table cellspacing="0" style="width:100%;border-collapse:collapse;" id="gvPhaseAnalysis">
        <tbody>
            <tr>
                <th style="width:80px;" scope="col">序号</th>
                <th style="width:200px;" scope="col">周报名称</th>
                <th style="width:200px;" scope="col">周报备注</th>
                <th style="width:200px;" scope="col">修改人</th>
                <th style="width:200px;" scope="col">修改时间</th>
                <th style="width:1200px;" scope="col"></th>
            </tr>
        </tbody>
    </table>
        </div>
</form>