<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    注意: 应在 App.config 文件中添加条目，以获取仅适用于
    测试项目的配置设置。
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="SqlServer" connectionString="Server =ITAUTO-SERVER\XFORM;database =KCZYS_LIMS;User ID = sa;Password =406ITAUTOitauto;Connection Lifetime=120;Pooling=true;Min Pool Size=50;Max Pool Size=30000" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
