@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PopWnd</title>
</head>
<body>
    <div>
        <input type="button" id="popwnd-confirm" value="OK"/>
        <input type="text"  id="popwnd-name" />
    </div>
</body>
</html>
